mat-toolbar-row {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0;

  .beta {
    background: #ffffff;
    border-radius: 3px;
    color: #000000;
    font-size: .7rem;
    padding: 3px;
    position: relative;
    top: -10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .username {
    padding-right: 10px;
  }
}
