section {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  margin-top: 2rem;
}

mat-card {
  margin-bottom: 2rem;

  mat-card-header {

    .mat-card-header-text {
      width: 100%;

      mat-card-title {
        .flex-cols {
          display: flex;
          justify-content: space-between;

          .flex-col {
            flex: 1;

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
