<app-timer-control [timeTracker]="currentTimeTracker"
                  [projects]="projects?.projects"
                   [isLoading]="isLoading"
                   [isRunning]="isRunning"
                   (startTimerEvent)="startTimer($event)"
                   (stopTimerEvent)="stopTimer($event)"></app-timer-control>

<section>
  <app-time-logs *ngIf="!isTimeLogsLoading"
                 [timeLogs]="timeLogs?.records"
                 [timeBookings]="timeBookings?.records"
                 [projects]="projects?.projects">
  </app-time-logs>
</section>
