<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong>Recently tracked tasks</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Test</p>
  </mat-card-content>
</mat-card>
<ng-container *ngFor="let group of groupedTimeLogs;">
  <mat-card *ngIf="group.time_logs.length !== 0">
    <mat-card-header>
      <mat-card-title>
        <strong>{{ group.int_date === today ? 'Today' : group.int_date | date:'E, dd.MM.yyyy' }}</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let timeLog of group.time_logs; let i = index;">
        <mat-list-item>
          <div class="time-log-details">
            <p>{{ timeLog.comments }}</p>
            <p [style.color]="timeLog?.project?.color"> {{timeLog?.project?.name}}</p>
            <p>{{ timeLog.start | date:'HH:mm:ss' }} - {{ timeLog.stop | date:'HH:mm:ss' }}</p>
            <p>{{ timeLog.diff_time | date:'HH:mm:ss' }}</p>
            <button mat-icon-button
                    (click)="openDeleteDialog(timeLog.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="!(i + 1 === group.time_logs.length)"></mat-divider>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-container>
