<mat-card>
  <form>
    <mat-form-field>
      <input matInput
             placeholder="Task description"
             [(ngModel)]="timeTracker.comments"
             name="comments">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="time"
             name="current-time">
    </mat-form-field>
    <div>
      <button *ngIf="!isRunning"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="isLoading"
              (click)="start()">Start</button>
      <button *ngIf="isRunning"
              mat-raised-button
              color="warn"
              type="submit"
              [disabled]="isLoading"
              (click)="stop()">Stop</button>
    </div>
  </form>
  <p *ngIf="isLoading">Lädt...</p>
</mat-card>
