/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke-width: .3px;
   -webkit-text-stroke-color: black;
}
